.about-text {
    margin-left: 50%;
    width: 50%;
    background-color: #343a40b0;
}

.overlay-text {
    display: flex;
    justify-content: space-between;
}

.heart-icon {
    color: #fff;
    cursor: pointer;
  }
  
  .heart-icon.clicked {
    color: red;
  }
  
.likes-counter {
    display: flex;
    z-index: -1;
}

.show-button {
    border: none;
}

.show-button:active {
    outline: none;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #343a407c;
    padding: 20px;
    border: 2px solid #ccc;
    z-index: 9999;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.red {
    color: #ff214f;
}

.big-1 {
    font-size: 1.4rem;
}

.popup-items {
    display: flex;
    justify-content: space-between;
}

.popup-left {
    flex-basis: 30%;
    padding-right: 0;
}

.popup-right {
    flex-basis: 50%;
}

.popup-image {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0.9, 0.9, 0.9, 1);
}

.popup-category {
    margin-top: 10px;
}

.popup-ingredients {
    font-size: 0.8rem;
    line-height: 2rem;
    list-style-type: none;
}

.popup-instructions {
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}

.youtube {
    color: #fff;
    background-color: #ff214f;
    padding: 10px;
    border-radius: 20px;
}

.youtube:hover {
    color: #ff214f;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.close-btn {
    background: none;
    border: none;
}

.close-btn:focus {
    outline: none;
    transform: scale(1.3);
}

.x-close {
    float: right;
    padding: 0;
    border: 2px solid #ff214f;
}

@media (max-width: 992px) {
    .about-text {
        margin-left: 0;
        width: 100%;
    }
}